Import Package

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

Read Data

In [4]:
data = pd.read_csv('StudentsPerformance.csv')

In [5]:
data.head

<bound method NDFrame.head of      gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]>

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
data.shape

(1000, 8)

Data Split

In [8]:
X = data.iloc[:,:-1] 
y = data.iloc[:,-1]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [10]:
print("dimensi X_train : ",X_train.shape)
print("dimensi X_test : ",X_test.shape)
print("dimensi y_train : ",y_train.shape)
print("dimensi y_test : ",y_test.shape)

dimensi X_train :  (700, 7)
dimensi X_test :  (300, 7)
dimensi y_train :  (700,)
dimensi y_test :  (300,)

Data Cleaning

In [12]:
data.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Data Duplikat

In [13]:
data = data.append(data.iloc[0:20])

In [14]:
data.shape

(1020, 8)

In [15]:
data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61

In [16]:
data.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
15     True
16     True
17     True
18     True
19     True
Length: 1020, dtype: bool

In [17]:
data.duplicated().sum()

20

In [18]:
data[data.duplicated()]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61

In [19]:
data.drop_duplicates(inplace=True)

In [20]:
data.duplicated().sum()

0

Data Tranformasi

Normalisasi

In [23]:
min_max_scaler = MinMaxScaler()

In [28]:
x_scaled = min_max_scaler.fit_transform(data[['math score','reading score','writing score']])

In [29]:
data_normalization = pd.DataFrame(x_scaled)

In [30]:
data_normalization.head()

      0         1         2
0  0.72  0.662651  0.711111
1  0.69  0.879518  0.866667
2  0.90  0.939759  0.922222
3  0.47  0.481928  0.377778
4  0.76  0.734940  0.722222

Standarisasi

In [31]:
print("Nilai sebelum standarisasi")
print("Stadar Deviasi : ")
np.std(data)

Nilai sebelum standarisasi
Stadar Deviasi :

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3579: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

math score       15.155497
reading score    14.592890
writing score    15.188057
dtype: float64

In [32]:
from sklearn.preprocessing import StandardScaler

In [33]:
ss = StandardScaler()

In [34]:
x_skala = ss.fit_transform(data[['math score','reading score','writing score']])

In [35]:
print("Nilai setelah standarisasi")
print("Stadar Deviasi : ")
np.std(x_skala)

Nilai setelah standarisasi
Stadar Deviasi :

1.0

In [36]:
data_standarisasi = pd.DataFrame(x_skala)

In [37]:
data_standarisasi.head(5)

          0         1         2
0  0.390024  0.193999  0.391492
1  0.192076  1.427476  1.313269
2  1.577711  1.770109  1.642475
3 -1.259543 -0.833899 -1.583744
4  0.653954  0.605158  0.457333

One Hot Encoding

In [38]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [39]:
encoder = OneHotEncoder(sparse=False)
area = encoder.fit_transform(data[["test preparation course"]])

areas = pd.DataFrame(area)
data = data.join(areas)
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,0,1
0,female,group B,bachelor's degree,standard,none,72,72,74,0.0,1.0
1,female,group C,some college,standard,completed,69,90,88,1.0,0.0
2,female,group B,master's degree,standard,none,90,95,93,0.0,1.0
3,male,group A,associate's degree,free/reduced,none,47,57,44,0.0,1.0
4,male,group C,some college,standard,none,76,78,75,0.0,1.0