Import Package

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv("StudentsPerformance.csv")
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [5]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [6]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [7]:
print(f'panjang dataset {len(df)} Row')

panjang dataset 1000 Row

Classification, K-Nearest Neighbour (KNN)

In [10]:
dataset_mn = df.copy()
dataset_md = df.copy()
dataset_ms = df.copy()

In [11]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

In [12]:
dataset_mn.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [13]:
dataset_mn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [15]:
x = dataset_mn[['math score','reading score','writing score']]
y = dataset_mn['test preparation course']
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size=.2)

In [16]:
classifier = KNeighborsClassifier(n_neighbors = 5)

In [17]:
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [18]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [19]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: ['none' 'none' 'none' 'none' 'completed' 'none' 'none' 'none' 'none'
 'none' 'none' 'none' 'none' 'completed' 'none' 'none' 'none' 'none'
 'none' 'completed' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'none' 'none' 'completed' 'none' 'completed' 'none' 'none' 'none' 'none'
 'completed' 'none' 'completed' 'none' 'none' 'none' 'none' 'completed'
 'none' 'none' 'completed' 'none' 'completed' 'none' 'none' 'none' 'none'
 'none' 'none' 'completed' 'none' 'none' 'completed' 'none' 'none' 'none'
 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'completed'
 'none' 'completed' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'none' 'none' 'none' 'none' 'none' 'none' 'completed' 'completed'
 'completed' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'completed'
 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'completed' 'completed' 'none' 'completed' 'none' 'none' 'completed'
 'completed' 'completed' 'completed' 'none' 'none' 'completed' 'none'
 'none' 'none' 'none' 'none' 'completed' 'none' 'none' 'none' 'none'
 'none' 'completed' 'completed' 'none' 'none' 'none' 'none' 'none' 'none'
 'none' 'completed' 'none' 'none' 'none' 'completed' 'completed'
 'completed' 'none' 'none' 'none' 'none' 'none' 'completed' 'none' 'none'
 'completed' 'none' 'none' 'completed' 'none' 'none' 'none' 'completed'
 'none' 'none' 'none' 'completed' 'none' 'none' 'none' 'completed' 'none'
 'completed' 'completed' 'none' 'none' 'completed' 'none' 'completed'
 'completed' 'completed' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'completed' 'completed' 'none' 'none']
Class: 993         none
859         none
298    completed
553         none
672         none
         ...
679         none
722    completed
215    completed
653    completed
150    completed
Name: test preparation course, Length: 200, dtype: object
akurasi: 0.685

In [20]:
classifier.score(x_test,y_test)

0.685

Naive Bayes Classification

In [21]:
x = dataset_mn[['math score','reading score','writing score']]
y = dataset_mn['test preparation course']

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1, shuffle=False, stratify=None)

In [23]:
classifier = GaussianNB()
classifier.fit(x_train,y_train)

predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [24]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: ['completed']
Class: 999    none
Name: test preparation course, dtype: object
akurasi: 0.0

In [25]:
classifier.score(x_test,y_test)

0.0